<div 
    fxLayout="row" 
    fxLayoutGap="40px" 
    fxLayout.xs="column" 
    style="margin-left: 10px; margin-bottom: 42px;" 
    class="animate__animated animate__zoomIn mt-3"
>
    <div fxFlex="50" fxLayout="column">

        <mat-card class="mb-4">

            <mat-card-header>

                <h1> {{(!heroe.id) ? 'Nuevo héroe' : 'Editar Héroe'}}

                    <small 
                        *ngIf="heroe.superhero"
                        style="margin-left: -3px;">: {{heroe.superhero | titlecase}}

                    </small></h1>

            </mat-card-header>

            <mat-divider></mat-divider>
        </mat-card>

        <div fxFLayout="row" style="margin-left: 8px;">

            <div fxLayoutGap="20px">
                <mat-form-field 
                    fxFlex="100"
                    fxFlex.md="50"
                    fxFlex.sm="43"
                    color="accent"
                >
                    <mat-label> Super Héroe </mat-label>
                    <input 
                        matInput
                        type="text"
                        autocomplete="off"
                        required
                        [(ngModel)]="heroe.superhero"
                    >

                </mat-form-field>

                <mat-form-field
                    fxFlex="100" 
                    fxFlex.sm="50"
                    fxFlex.md="50"
                    color="accent"
                > 
                    <mat-label> Alter Ego </mat-label>
                    <input 
                        matInput
                        type="text"
                        autocomplete="off"
                        required
                        [(ngModel)]="heroe.alter_ego"
                    >
                </mat-form-field>
                
            </div>
        </div>

        <mat-form-field fxFlex="100" color="accent" style="margin-left: 8px;"> 
            
            <mat-label> Primera Aparición </mat-label>
            <input 
                matInput
                type="text"
                autocomplete="off"
                [(ngModel)]="heroe.first_appearance"
            >
        </mat-form-field>

        <mat-form-field fxFlex="100" color="accent" style="margin-left: 8px;"> 
            
            <mat-label> Personajes </mat-label>
            <input 
                matInput
                type="text"
                autocomplete="off"
                [(ngModel)]="heroe.characters"
            >
        </mat-form-field>

        <mat-form-field fxFlex="100" color="accent" style="margin-left: 8px;"> 
            
            <mat-label> Habilidades </mat-label>
            <input 
                matInput
                type="text"
                autocomplete="off"
                required
                [(ngModel)]="heroe.habilities"
            >
        </mat-form-field>

        <mat-form-field fxFlex="100" color="accent" style="margin-left: 8px;">
            
            <mat-label>Editorial</mat-label>
            
            <mat-select 
                required
                [(ngModel)]="heroe.publisher"
            >
                <mat-option 
                    *ngFor="let publisher of publishers"
                    [value]='publisher.id'
                >

                    {{publisher.desc}}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field fxFlex="100" color="accent" style="margin-left: 8px;"> 
            
            <mat-label> Foto Url </mat-label>
            <input 
                matInput
                name="fotoUrl"
                autocomplete="off"
                [(ngModel)]="heroe.alt_img"
                [(ngModel)]="srcImg"
            >
        </mat-form-field>

        <br>

        <div fxLayout="row" [fxLayoutAlign]="(!heroe.id) ? 'center' : '' ">

            <button
            
                mat-raised-button
                [color]="(!heroe.id) ? 'primary' : 'accent'"
                style="border-radius: 20px; width: 35%;"
                (click)="buscar()"
            >

                <mat-icon mat-list-icon> {{(!heroe.id) ? 'library_add' : 'edit'}} </mat-icon>

                {{(!heroe.id) ? 'Guardar' : 'Editar'}}
            </button>

            <span
                *ngIf="heroe.id"
                class="spacer"></span>

            <button
                *ngIf="heroe.id"
                mat-raised-button
                color="warn"
                style="border-radius: 20px; width: 35%;"
                (click)="borrarHeroe()"
            >
                <mat-icon>delete</mat-icon>

                Borrar

            </button>

        </div>
        
    </div>

    <div fxFlex="50" fxFlex.sm="45">

        <mat-card class="mb-4" style="margin-right: 8px;">
            <mat-card-header>
         
              <h1><br></h1>
            </mat-card-header>

            <mat-divider></mat-divider>
        </mat-card>

        <div style="text-align: center; margin-right: 8px;">

            <img

                #imagen
                [src]="heroe | imagen: srcImg"
                (error)="imagenError()"
                class="animate__animated animate__zoomIn"
            >   
        </div>

    </div>

</div>
