<div 
    fxLayout="row" 
    fxLayout.xs="column"
    fxFlexFill
    fxLayoutAlign="center center"
    class="login-background"
>

 <!--    <img 
        src="../../../../assets/fondo.jpg" 
        style="width: 100%; height: 100vh; position: absolute; opacity: 0.90;"
    > -->

    <mat-card class="card-fondo animate__animated animate__fadeIn animate__slow">

            
        <mat-card-header>

            <mat-card-title>

                Héroes App
            </mat-card-title>

            <mat-card-subtitle>

                Coleccioná tus héroes favoritos de DC-Comics y Marvel-Comics
            </mat-card-subtitle>

        </mat-card-header>

        <mat-card-content fxLayout>

        <span class="spacer"></span>

        <button

            mat-stroked-button
            mat-list-icon
            color="accent"
            (click)="login()"
            style="border-radius: 20px;">

            <mat-icon>login</mat-icon>

            Ingresar
        </button>

        </mat-card-content>

    </mat-card>
</div>

